# CMU dataset

In [2]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math
import csv
import os
import re

#load the statistical libraries
from statsmodels.stats import diagnostic
from scipy import stats
import json
import ast

In [4]:
data_folder = '../data/MovieSummaries/'

# Load movie metadata
column_names = ['Wikipedia_movie_ID', 'Freebase_movie_ID', 'movie_name', 'movie_year', 'movie_revenue', 'movie_runtime', 'movie_languages', 'movie_countries', 'movie_genres']
tsv_file_movie = data_folder + 'movie.metadata.tsv'
df_movies = pd.read_table(tsv_file_movie, sep='\t', names=column_names)
# df_movies.to_csv('movie_metadata.csv',index=False)

# Load charachter metadata
column_names_char = ['Wikipedia_movie_ID', 'Freebase_movie', 'movie_release_date', 'character_name', 'actor_DOB', 'gender', 'height', 'ethnicity', 'actor_name', 'actor_age', 'freebase_map', '1','2']
tsv_file_char = data_folder + 'character.metadata.tsv'
df_chars = pd.read_table(tsv_file_char, sep='\t', names=column_names_char)
# df_chars.to_csv('character_metadata.csv',index=False)

In [6]:
df_chars

,Wikipedia_movie_ID,Freebase_movie,movie_release_date,character_name,actor_DOB,gender,height,ethnicity,actor_name,actor_age,freebase_map,1,2
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg
...,...,...,...,...,...,...,...,...,...,...,...,...,...
450664,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406c,/m/0kr406h,/m/0b_vcv
450665,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr405_,/m/0kr4090,/m/0bx7_j
450666,28308153,/m/0cp05t9,1957,NaN,1941-11-18,M,1.730,/m/02w7gg,David Hemmings,15.0,/m/0g8ngmc,NaN,/m/022g44
450667,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,/m/0g8ngmj,NaN,/m/0g8ngmm
450668,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,/m/0g8ngmw,NaN,/m/0btz19d

In [5]:
df_movies

,Wikipedia_movie_ID,Freebase_movie_ID,movie_name,movie_year,movie_revenue,movie_runtime,movie_languages,movie_countries,movie_genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenÃ©t Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}"
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0..."
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}"
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ..."
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""..."

## Cleaning the data
- For movie languages just output the language
- For movie countries just output the country
- For genres have a column for first genres, second genres and rest

In [ ]:
def convert_string_to_dict(dict_str):
    """
    Attempts to convert a string to a dictionary using json.loads.
    If it fails, tries ast.literal_eval.
    """
    try:
        # First, try using json.loads
        return json.loads(dict_str)
    except json.JSONDecodeError:
        try:
            # If json.loads fails, try ast.literal_eval
            return ast.literal_eval(dict_str)
        except (ValueError, SyntaxError) as e:
            # If both methods fail, return None or raise an exception
            print("Failed to convert string to dictionary:", e)
            return None

def map_codes_to_items(list_of_dicts):
    """
    Maps a list of dictionaries to a list of items.
    """
    
    map_codes_to_something= {}
    for d in list_of_dicts:
        for k, v in d.items():
            map_codes_to_something[k] = v
    map_codes_to_something['nan'] = None
    return map_codes_to_something

In [ ]:
list_countries_codes = []
# for s in np.array(df_movies["movie_countries"].value_counts().keys()):
for s in np.array(df_movies["movie_countries"]):
    list_countries_codes.append(convert_string_to_dict(s))
list_countries = [tuple(sublist.values()) for sublist in list_countries_codes]

In [ ]:
list_languages_codes = []
# for s in np.array(df_movies["movie_languages"].value_counts().keys()):
for s in np.array(df_movies["movie_languages"]):
    list_languages_codes.append(convert_string_to_dict(s))
list_languages = [set(sublist.values()) for sublist in list_languages_codes]

list_genres_codes = []
# for s in np.array(df_movies["movie_genres"].value_counts().keys()):
for s in np.array(df_movies["movie_genres"]):
    list_genres_codes.append(convert_string_to_dict(s))
list_genres = [set(sublist.values()) for sublist in list_genres_codes]

# first_genres = []
# for genre_dict in list_genres_codes:
#     if genre_dict:
#         first_key = next(iter(genre_dict))
#         first_genres.append(genre_dict[first_key])
#     else:
#         first_genres.append(None)
# first_genres
# second_genres = []
# for genre_dict in list_genres_codes:
#     if genre_dict and len(genre_dict) >= 2:
#         values_iter = iter(genre_dict.values())
#         next(values_iter)
#         second_genre = next(values_iter)
#         second_genres.append(second_genre)
#     else:
#         second_genres.append("N/A")
# second_genres

In [ ]:
# countries = pd.DataFrame(np.array(list_countries))
countries = [', '.join(map(str, t)) for t in list_countries]
df_movies["movie_countries"] = countries

languages = pd.DataFrame([', '.join(list_languages) if list_languages else None for list_languages in list_languages])
df_movies["movie_languages"] = languages

genres = pd.DataFrame([', '.join(genres) if genres else None for genres in list_genres])
df_movies["movie_genres"] = genres

In [ ]:
df_movies.loc[df_movies["movie_name"] == "Hunting Season", "movie_year"] = "2010-12-02"

### Correct the mis-spelled genres

In [ ]:
l = [item[1] for sublist in list_genres_codes for item in sublist.items()]
print("Potentially mis-spelled genres:")
print(pd.DataFrame(l).value_counts()[pd.DataFrame(l).value_counts().values < 5])

Potentially mis-spelled genres:
0
Humour                             4
Bruceploitation                    4
Goat gland                         4
Tokusatsu                          4
Live action                        4
Werewolf fiction                   4
Therimin music                     4
Expressionism                      3
Point of view shot                 3
Supermarionation                   3
Vampire movies                     3
Z movie                            3
Camp                               3
Nuclear warfare                    3
The Netherlands in World War II    2
Period Horror                      2
Ninja movie                        2
Patriotic film                     2
Political Documetary               2
Conspiracy fiction                 2
Star vehicle                       2
Prison escape                      2
Private military company           2
Beach Party film                   2
Revenge                            2
Revisionist Fairy Tale             2
Neorealism                         1
Chick flick                        1
Buddy Picture                      1
Silhouette animation               1
Romantic thriller                  1
Breakdance                         1
War effort                         1
Homoeroticism                      1
Comdedy                            1
New Queer Cinema                   1
Linguistics                        1
Statutory rape                     1
C-Movie                            1
Name: count, dtype: int64

# Adding summaries dataset

In [ ]:
def convert_txt_to_csv(input_file_path, output_file_path):
    """
    Converts a text file to a CSV file with two columns: movie_id and movie_summary.
    The input file should have each line with movie_id and movie_summary separated by a tab or space.
    
    Parameters:
    - input_file_path: Path to the input text file.
    - output_file_path: Path where the output CSV file will be saved.
    """
    # Open the input and output files
    with open(input_file_path, 'r', encoding='utf-8') as fin, \
         open(output_file_path, 'w', newline='', encoding='utf-8') as fout:
        
        # Initialize CSV writer
        writer = csv.writer(fout)
        
        # Write the header
        writer.writerow(['Wikipedia_movie_ID', 'movie_summary'])
        
        # Process each line in the input file
        for line_number, line in enumerate(fin, start=1):
            # Strip leading/trailing whitespace
            line = line.strip()
            
            # Skip empty lines
            if not line:
                print(f"Skipping empty line at line number {line_number}.")
                continue
            
            # Use regex to split on the first occurrence of tab or space
            # This ensures that the summary can contain spaces or tabs
            split_result = re.split(r'\t| ', line, maxsplit=1)
            
            if len(split_result) == 2:
                movie_id, movie_summary = split_result
            elif len(split_result) == 1:
                # Only movie_id is present, no summary
                movie_id = split_result[0]
                movie_summary = ''
                print(f"No summary found for movie_id '{movie_id}' at line number {line_number}.")
            else:
                # Unexpected format
                movie_id = ''
                movie_summary = ''
                print(f"Unexpected format at line number {line_number}: '{line}'")
            
            # Write the row to CSV
            writer.writerow([movie_id, movie_summary])

plot_summaries_data_path = data_folder + 'plot_summaries.txt'
convert_txt_to_csv(plot_summaries_data_path, 'plot_summaries.csv')

NameError: name 'data_folder' is not defined

In [ ]:
df_plot_summaries = pd.read_csv('plot_summaries.csv')
df_movies_with_summaries = pd.merge(df_movies, df_plot_summaries, on='Wikipedia_movie_ID')
df_movies_with_summaries

,Wikipedia_movie_ID,Freebase_movie_ID,movie_name,movie_year,movie_revenue,movie_runtime,movie_languages,movie_countries,movie_genres,movie_summary
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Horror, Adventure, Supernatural, Space western...","Set in the second half of the 22nd century, th..."
1,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,English Language,United Kingdom,"Psychological thriller, Erotic thriller, Thriller",A series of murders of rich young women throug...
2,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,German Language,Germany,Drama,"Eva, an upper class housewife, becomes frustra..."
3,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,English Language,South Africa,"Adventure, Fantasy, World cinema, Family Film","Every hundred years, the evil Morgana returns..."
4,6631279,/m/0gffwj,Little city,1997-04-04,NaN,93.0,English Language,United States of America,"Romantic drama, Comedy, Drama, Ensemble Film, ...","Adam, a San Francisco-based artist who works a..."
...,...,...,...,...,...,...,...,...,...,...
42202,23851782,/m/06_vb43,The Ghost Train,1941-05-03,NaN,82.0,English Language,United Kingdom,"Supernatural, Comedy, Crime Fiction, Thriller",{{plot}} The film opens with a Great Western e...
42203,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,English Language,United States of America,Drama,Two former National Oceanic Atmospheric Admini...
42204,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,English Language,"Ireland, United Kingdom","Biographical film, Documentary, Drama",{{No plot}} This film follows 12 years in the ...
42205,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,Japanese Language,Japan,"Adventure, Animation, Japanese Movies, Short F...","The story takes place in the year 2092,The Sup..."
42206,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror, Slasher, Teen, Thriller",The movie is about a teenage girl who loves ho...