# Merging CMU, TMDB, and Remake Dataset

In [32]:
import pandas as pd
from tqdm import tqdm

In [11]:
wikidata_df = pd.read_csv('../data/movie_metadata_wikidata.csv')
wikidata_df.head()

,Wikipedia_movie_ID,Freebase_movie_ID,movie_name,movie_year,movie_revenue,movie_runtime,movie_languages,movie_countries,movie_genres,wikidata_id
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Science Fiction, Space western, Horror, Supern...",Q261700
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English Language,United States of America,"Crime Drama, Mystery, Biographical film, Drama",Q16250726
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,Norwegian Language,Norway,"Crime Fiction, Drama",Q4978832
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,English Language,United Kingdom,"Psychological thriller, Thriller, Erotic thriller",Q7995657
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,German Language,Germany,Drama,Q869644

In [12]:
tmdb_df = pd.read_csv('../data/TMDB_movie_dataset_v12.csv')
tmdb_df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords,wikidata_id
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",Q25188
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",Q13417189
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",Q163872
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",Q24871
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",Q182218

In [14]:
remake_df = pd.read_csv('../data/remake/remakes.csv')
remake_df.head()

,original,original_year,original_url,remake,remake_year,remake_url,original_wikidata_id,remake_wikidata_id
0,12 Angry Men,1957,https://en.wikipedia.org/wiki/12_Angry_Men_(19...,12 Angry Men (1997),1997,https://en.wikipedia.org/wiki/12_Angry_Men_(19...,Q2345,Q386042
1,13 Assassins,1963,https://en.wikipedia.org/wiki/13_Assassins_(19...,13 Assassins,2010,https://en.wikipedia.org/wiki/13_Assassins_(20...,Q3230304,Q186810
2,13 Ghosts,1960,https://en.wikipedia.org/wiki/13_Ghosts,Thirteen Ghosts,2001,https://en.wikipedia.org/wiki/Thirteen_Ghosts,Q541412,Q186864
3,13 Tzameti,2005,https://en.wikipedia.org/wiki/13_Tzameti,13,2010,https://en.wikipedia.org/wiki/13_(2010_film),Q186900,Q186799
4,3 Idiots,2009,https://en.wikipedia.org/wiki/3_Idiots,Nanban,2012,https://en.wikipedia.org/wiki/Nanban_(2012_film),Q229633,Q683308

In [25]:
remakes_wikidata_id = pd.concat([remake_df['original_wikidata_id'], remake_df['remake_wikidata_id']]).dropna().unique()

In [29]:
missing_wikidata_ids = [wikidata_id for wikidata_id in tqdm(remakes_wikidata_id) if wikidata_id not in wikidata_df["wikidata_id"].values]
print("number of missed remade movie in cmu:", len(missing_wikidata_ids))

100%|██████████| 1262/1262 [00:01<00:00, 1260.89it/s]

number of missed remade movie in cmu: 232

In [30]:
missing_tmdb_ids = [wikidata_id for wikidata_id in tqdm(remakes_wikidata_id) if wikidata_id not in tmdb_df["wikidata_id"].values]
print("number of missed remade movie in tmdb:", len(missing_tmdb_ids))

100%|██████████| 1262/1262 [00:18<00:00, 67.54it/s]

number of missed remade movie in tmdb: 22

In [31]:
intersection_of_missing_ids = set(missing_wikidata_ids).intersection(set(missing_tmdb_ids))
print("number of missed remade movie in both cmu and tmdb:", len(intersection_of_missing_ids))

number of missed remade movie in both cmu and tmdb: 17